@import url(https://fonts.googleapis.com/css?family=Bangers);
hr.intro-divider {
    border: 1px outset
    rgba(255, 255, 255, 0.2);
    box-shadow: 1px 1px 1px
    rgba(0,0,0,0.6);
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
}
div{
    color : #fbf4ff;
}

.wrap {
    padding: 5em 0.5em;
    margin: 0 auto;
}

.comicsTitle {

    font-size: 7vw;
}

@media screen and (max-width: 50em) {
    .comicsTitle {
        font-size: 20vw;
    }
}
