hr.intro-divider {
    border: 1px outset
    rgba(255, 255, 255, 0.2);
    box-shadow: 1px 1px 1px
    rgba(0,0,0,0.6);
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
}
div{
    color : #fbf4ff;
}
