<div class=" col-lg-12" style="background-color: #740f00;" >
    <div class="col-lg-12 row" style="padding: 0px">
        <div class="col-lg-4 ">
            <div class="comicsTitle " style=" color: #fbf4ff">BDtheque</div>
         </div>
        <div class="col-lg-8 ">
            <div class="col-lg-12">
                <p class="grey-text text-lighten-4">Dans cette bibliothèque en ligne spécialisée dans les comics.
                    Découvrez et partagez autour de votre passion pour les comics,
                    enrichissez la base de données et gérez votre collection gratuitement notre BDtheque
                </p>
            </div>
            <div class="col-lg-12 row">
                <h5 class="white-text col-lg-12">Liens</h5>
                 <ul class="col-lg-12 row">
                    <li class="col-lg-6"><a class="grey-text text-lighten-3" href="#!">Home</a></li>
                    <li class="col-lg-6"><a class="grey-text text-lighten-3" href="#!">Mas</a></li>
                    <li class="col-lg-6"><a class="grey-text text-lighten-3" href="#!">Heros</a></li>
                    <li class="col-lg-6"><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <hr class="intro-divider">
        <div class="col-lg-12" style="text-align: center">
            © 2019 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
    </div>
</div>
