.col-lg-3{
    margin-left: 0%;
}
.btn-toogle{
    float: right;
    margin-top: 15px;
    background-color: white;
    padding: 15px;
}
.btn-admin{
    background-color: transparent !important;
    color: #740f00 !important;
    border-color: #740f00;
}
