<app-navbar></app-navbar>
<main>
    <img src="../../assets/Events2019(1).png" style="width: 100%; height: 250px">
    <div style="margin: -150px 10% 0% 10%; padding: 0" class="row">
        <img src="../../assets/comics/{{comics.photo}}" style="height: 400px; padding: 0" class="col-md-3">
        <div class="col-lg-9" style="padding: 0;">
            <div class="col-lg-12">
                <div class="comicsTitle overflow-ellipsis" style="margin-bottom: 5%; color: #fbf4ff">{{comics.title}}</div>
            </div>
            <div class="col-md-12 row" style="padding: 0%">
                <div class="col-md-6" style="padding: 0% 4%">
                    <p>Paru le 10/02/2017 chez DC Comics</p>
                    <p>Série : {{comics.mainHeros.name}}</p>
                    <p>ISBN  : {{comics._id}}</p>
                    <p>EAN   : 978-2809454130</p>
                    <p>Price : {{comics.price}} €</p>
                </div>
                <div class="col-md-6 btn-DetailComics btn-comics" >
                    <button class="col-lg-12 btn" (click)="addWish()"
                            *ngIf="!comics.wish && !comics.inBD" mat-stroked-button >
                        <h4>Ajouter à la liste d'envie</h4>
                    </button>
                    <button class="col-lg-12 btn" (click)="suppWish()"
                            *ngIf="comics.wish && !comics.inBD" mat-stroked-button >
                        <h4>Supprimer de la liste d'envie</h4>
                    </button>
                    <button class="col-lg-12 btn" (click)="add()"
                            *ngIf="!comics.inBD" mat-stroked-button >
                        <h4>Ajouter à votre BDtheque</h4>
                    </button>
                    <button class="col-lg-12 btn" (click)="supp()"
                            *ngIf="comics.inBD" mat-stroked-button >
                        <h4>Supprimer de votre BDtheque</h4>
                    </button>
                    <button class="col-lg-12 btn-admin btn" *ngIf="true" [routerLink]="['/comicsEdit', comics._id]" mat-stroked-button>
                        <h4>Modifier le comics</h4>
                    </button>
                    <button class="col-lg-12 btn-admin btn" *ngIf="true" (click)="suppComics()" mat-stroked-button >
                        <h4>Supprimer le comics</h4>
                    </button>
                    <i class="fab fa-amazon"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 " style="padding: 3% 10% 3% 10%">
        <div class="title col-lg-12 " style="overflow: hidden">
            <img src="../../assets/line.png" class="col-lg-12" style="margin-left: 30%; position: absolute; z-index: -1" height="90px">
            <h1 style="padding-top: 2%;"><i class="material-icons" style="color:#740f00;"
           (click)="updateOthersHeros()" *ngIf="true">add</i><strong style="color: #740f00">Ses </strong>Héros</h1>
        </div>
        <div class="col-lg-12 row">
            <div class="col-lg-9">
                <h4 style="text-align: right">Héros & Méchants</h4>
                <div class="listComics row" *ngIf="comics.otherHeros.length<1">
                    <app-none-value class="col-lg-12" [message]="message()"></app-none-value>
                </div>
                <app-carrousel-heros *ngIf="comics.otherHeros.length>=1" [heros]="comics.otherHeros" (submit)="suppOtherHeros($event)"></app-carrousel-heros>
            </div>
            <div class="col-lg-3" style="text-align: center">
                <img [src]='image()' style="height: 400px;width: 110%;">
                <h4 class="nameMainHero " style="text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.7);
                color:white;">
                    <strong>Héro principale</strong>
                </h4>
                <button mat-fab  class="button-sup" *ngIf="true">
                    <i class="material-icons" (click)="updateMainHeros()">create</i>
                </button>
            </div>
        </div>
    </div>
</main>
<app-footer></app-footer>
