@import url(https://fonts.googleapis.com/css?family=Bangers);

.wrap {
    padding: 5em 0.5em;
    margin: 0 auto;
}

.comicsTitle {
    font-size: 5vw;
}

@media screen and (max-width: 50em) {
    .comicsTitle {
        font-size: 20vw;
    }
}

.btn-DetailComics button{
    color: #fbf4ff;
    background-color: #740f00;
    margin-bottom: 2%;
}
.textarea{
    color: #000000;
    background-color: #fbf4ff;
    border: 2px solid;
    border-radius: 25px;
    width:100%;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: #000000;
    background-color: #fbf4ff;
}
::ng-deep mat-form-field .mat-hint,
input, ::placeholder, .mat-form-field-label, .mat-form-field-underline  {
    color: #000000;
    background-color: #fbf4ff;
}
.overflow-ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
mat-grid-tile:hover img{
    position: absolute;
    height: 250px;
    width: 120%;
}

.btn-comics.btn{
    width: 100%;
    padding: 0%;
}
.btn-admin{
    background-color: black !important;
    color: #740f00 !important;
}


.button-sup{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #740f00;
}
.button-sup i{
    padding: 100%;
    margin: -100%;
}
