<mat-card class="example-card col-lg-12 no_padding row" style="margin: 2% 1% 0% 1%;">
    <div class="col-lg-12 row">
        <img mat-card-image class="col-lg-1 no_padding"  style="margin: 0%"
             src="../../assets/comics/{{list.photo}}" alt="{{list.title}}">
        <div class="col-lg-11 row">
            <h3 [routerLink]="['/comics', list._id]" class="col-lg-12">{{list.title}}</h3>
            <div class="col-lg-12 no_padding" style="text-align: right;margin-top: 20px;color: #740f00">
                <button mat-icon-button  (click)="addWish()" *ngIf="!list.wish && !list.inBD">
                    <i class="material-icons">favorite_border</i>
                </button>
                <button mat-icon-button   (click)="suppWish()" *ngIf="list.wish && !list.inBD">
                    <i class="material-icons">favorite</i>
                </button>
                <button mat-icon-button  (click)="add()" *ngIf="!list.inBD">
                    <i class="material-icons">add</i>
                </button>
                <button mat-icon-button  (click)="supp()" *ngIf="list.inBD">
                    <i class="material-icons">remove</i>
                </button>
                <button mat-icon-button  (click)="suppComics()" *ngIf="true">
                    <i class="material-icons">delete</i>
                </button>
                <button mat-icon-button  [routerLink]="['/comicsEdit', list._id]" *ngIf="true">
                    <i class="material-icons">create</i>
                </button>
            </div>
        </div>
    </div>
</mat-card>

