<app-navbar></app-navbar>
<main>
    <div class="title col-lg-12 " style="overflow: hidden">
        <img src="../../assets/line.png" class="col-lg-12" style="margin-left: 30%; position: absolute; z-index: -1" height="90px">
        <h1 style="padding-left: 5%"><strong style="color: #740f00">Mes</strong> envies</h1>
        <div class="col-lg-12 row" style="padding: 0% 5%;">
            <div class="col-lg-6">
                <button mat-icon-button class="icon-view">
                    <i class="medium material-icons"
                       [ngClass]="!isList ? {'active': true} : {'active':false}"
                       (click)="changeAffichage(false)">apps</i>
                </button>
                <button mat-icon-button class="icon-view">
                    <i class="medium material-icons"
                       [ngClass]="isList ? {'active': true} : {'active':false}"
                       (click)="changeAffichage(true)">format_list_bulleted</i>
                </button>
            </div>
        </div>
    </div>
    <div class="listComics row" *ngIf="comics.length<1">
        <app-none-value  style="text-align: center; width: 100%" [message]="message()"></app-none-value>
    </div>
    <div class="listComics row" *ngIf="!isList">
        <app-card-comics  class="col-md-2" style="width: 20%; margin: 1% 0%" *ngFor="let comic of comics"  [card]="comic"
                          (deleteComics)="delete($event)" (suppInwish)="suppwish($event)" (addInBD)="addInBd($event)"
        ></app-card-comics>
    </div>
    <div class="listComics row" *ngIf="isList">
        <app-list-comics  class="col-md-12"  *ngFor="let comic of comics"  [list]="comic"
                          (deleteComics)="delete($event)" (suppInwish)="suppwish($event)" (addInBD)="addInBd($event)"
        ></app-list-comics>
    </div>
    <div class="title col-lg-12 " style="margin-bottom: 100px">
        <img src="../../assets/line.png" class="col-lg-12"
             style="float: right; position: absolute; z-index: -1;margin-left: -30%"
             height="90px" >
    </div>
</main>
<app-footer></app-footer>
