@import url(https://fonts.googleapis.com/css?family=Bangers);
.logo{
    width: 250px;
    position: absolute;
}
body{
    font-family: Helvetica;
}
.site-wrapper{
    display: table;
    width: 100%;
    height: 100%;
    min-height: 100%;
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
}

.cover-container{
    width: 60%;
    margin-right: auto;
    margin-left: auto;
}

.site-wrapper-inner{
    vertical-align: center;
    display: table-cell;
}
.inner{
    padding: 2rem;
}
main{
    text-align: center;
    position: fixed;
    right: 25%;
    left: 25%;
    top: 25%;
    bottom: 25%;
}

footer{
    position: fixed;
    right: 25%;
    left: 25%;
    bottom: 3%;
    text-align: center;
}

.ombreAC{
    background-color: black;
    border-radius: 5px;
    position: fixed;
    right: 20%;
    left: 20%;
    top: 0%;
    opacity: .4;
    padding-top: 5%;
    height: 100%;
}

.btn{
    border: 2px solid ;
}



/*****************************************************/
body {
    background-color: #ED6565;
}

.wrap {
    padding: 5em 0.5em;
    margin: 0 auto;
}

.comicsTitle {
    padding-top: 1%;
    text-overflow: ellipsis;
    font-weight: normal;
    color: #fff;
    text-transform: uppercase;
    font-size: 8em;
    white-space: nowrap;
    font-size: 4vw;
    z-index: 1000;
    font-family: 'Bangers', cursive;
    text-shadow: 5px 5px 0 rgba(0, 0, 0, 0.7);
    -moz-transform: skew(0, -6.7deg);
    -ms-transform: skew(0, -6.7deg);
    -webkit-transform: skew(0, -6.7deg);
    transform: skew(0, -6.7deg);
    -moz-transition-property: font-size;
    -o-transition-property: font-size;
    -webkit-transition-property: font-size;
    transition-property: font-size;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

@media screen and (max-width: 50em) {
    .comicsTitle {
        font-size: 20vw;
    }
}

